@tailwind base;
@tailwind components;
@tailwind utilities;

// Color Variables
$primary-color-light: #ac99d4;
$primary-color-dark: rgba(137, 93, 229, 0.94);

$secondary-color-light: rgba(229, 93, 158, 0.38);
$secondary-color-dark: rgba(229, 93, 158, 0.96);

$background-color-light: #ecf0f1;
$background-color-dark: #2c3e50;

$text-color-light: #333;
$text-color-dark: #ecf0f1;

$accent-color-light: #6f54a8;
$accent-color-dark: #4b3680;

// Font Styles
$base-font-family: "Arial", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

// Surface Styles
$border-radius: 5px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

$canvas-color: #2e2939;

// Light Theme
$theme: (
	primary-color: $primary-color-light,
	secondary-color: $secondary-color-light,
	background-color: $background-color-light,
	text-color: $text-color-light,
	accent-color: $accent-color-light,
);

// Dark Theme
$theme-dark: (
	primary-color: $primary-color-dark,
	secondary-color: $secondary-color-dark,
	background-color: $background-color-dark,
	text-color: $text-color-dark,
	accent-color: $accent-color-dark,
);

.light {
	@each $key, $value in $theme {
		--#{$key}: #{$value};
	}
}

.dark {
	@each $key, $value in $theme-dark {
		--#{$key}: #{$value};
	}
}

.image-canvas {
	background-color: map-get($theme, primary-color);
}

.image-canvas-2 {
	background-color: map-get($theme, secondary-color);
}

.image-canvas-3 {
	background-color: $canvas-color;
	border-radius: 15px;
	padding: 15px;
	img {
		border-radius: 50%;
	}
}

.text-p-1 {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.text-p-3 {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.text-p-3x {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.text-l-1 {
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.text-p-2 {
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.text-sm-1 {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.rounded-max-1 {
	border-radius: 50px;
}

.button-primary-cm {
	background-color: map-get($theme, accent-color);
	color: map-get($theme, background-color);
	@apply rounded-max-1;
}

.button-primary-ln {
	background-color: map-get($theme, text-color);
	color: map-get($theme, background-color);
	@apply rounded-max-1;
}

.button-primary-cl {
	background-color: map-get($theme, primary-color);
	color: map-get($theme, text-color);
	border-radius: 15px;
}

.button-secondary-cl {
	background-color: map-get($theme, secondary-color);
	color: map-get($theme, text-color);
	border-radius: 15px;
}

.input-primary-cm {
	border: 1.5px solid map-get($theme, accent-color);
	background-color: #fff;
	border-radius: 15px;
}

.input-secondary-cm {
	border-radius: 0px;
	background-color: map-get($theme, background-color);
	border-bottom: 1.5px solid;
}

.cgu-card {
	background-color: map-get($theme, accent-color);
	border-radius: 25px;
	margin: 2rem 2rem;
}

.stat-card-1 {
	background-color: map-get($theme, secondary-color);
	border-radius: 15px;
	padding: 10px 20px;
}

.back-button {
	border-radius: 25px;
	padding: 5px;
	border: 1.5px solid map-get($theme, text-color);
}

.app-bar {
	background-color: map-get($theme, background-color);
}

.navigation-bar {
	background-color: map-get($theme, background-color);
	border-top: 1.5px solid #59595973;
}

:root {
	background-color: map-get($theme, background-color);
}

.top-margin {
	margin-top: 8rem;
}

.tickBar {
	position: absolute;
	background-color: #e82c2c;
	height: 1px;
	width: 76%;
	right: 3px;
	margin-right: 12px;
	margin-top: 10%;
	display: block;
}

.nav-svg {
	// Change fill color
	// Change stroke color and width
	path {
		stroke: map-get($theme, text-color);
		stroke-width: 1px;
	}
}


.navigation-bar {
	.selected {
		.text-sm-1{
			color: map-get($theme, accent-color);
		}
		.nav-svg {
			path{
				fill: map-get($theme, accent-color);
				stroke-width: 0px;
			}
	}
	}
}